:host {
  .wrap {
    > h3 {
      margin: 0;
      padding-bottom: 1rem;
      text-align: center;
      border-bottom: 1px solid var(--color-gray-lighter);
    }
  
    > .topics {
      display: flex;
      flex-direction: column;

      > a.topic {
        padding: 1rem 2rem;
        color: var(--color-text);
        text-align: center;
        text-decoration: none;
        border-bottom: 0.25rem solid transparent;
        transition: border-color var(--ease-time) var(--ease-type);
    
        &.active,
        &.active:hover {
          font-weight: var(--font-weight-semibold);
          border-color: var(--color-primary);
        }
    
        &:hover {
          border-color: var(--color-gray-lighter);
        }
      }
    }
  }
  
  @media (min-width: 768px) {
    .wrap {
      > h3 {
        text-align: left;
        border: none;
      }

      > .topics {
        flex-direction: row;
        border-bottom: 1px solid var(--color-gray-lighter);

        > a.topic {
          text-align: left;
        }
      }
    }
  }
}
