.wrap {
  display: flex;
  flex-direction: column;
  max-width: 24rem;

  > .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;

    > p {
      font-size: var(--font-size-lg);
      margin: 0;
    }

    > a {
      color: var(--color-primary);
      transition: color var(--ease-time) var(--ease-type);
      cursor: pointer;

      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }

  > form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;

    > .search {
      position: relative;
      width: 100%;

      > .input {
        display: flex;
        gap: 1rem;
  
        > input {
          width: 100%;
          padding: 0.5rem 1rem;
          font-size: var(--font-size-md);
          border: 1px solid var(--color-gray);
          border-radius: 0.5rem;
          box-sizing: border-box;
          outline: none;
        }

        > .spinner {
          position: absolute;
          top: 50%;
          right: 0.5rem;
          transform: translateY(-50%) scale(0.75);
        }
      }
  
      > .typeahead {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        left: -1px;
        z-index: 10;
        width: 100%;
        height: fit-content;
        pointer-events: none;
        background: white;
        border: 1px solid var(--color-gray);
        border-radius: 0.5rem;
        box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
        list-style: none;
        overflow: hidden;
        transition: opacity var(--ease-time) var(--ease-type), top var(--ease-time) var(--ease-type);

        &.visible {
          opacity: 1;
          visibility: visible;
          top: calc(100% + 0.25rem);
          pointer-events: all;
        }

        > span {
          display: flex;
          justify-content: center;
          padding: 0.5rem 0;
          font-size: var(--font-size-sm);
          font-style: italic;
          border-bottom: 1px solid var(--color-gray-lightest);
        }

        > ul {
          width: 100%;
          height: fit-content;
          max-height: 12rem;
          margin: 0;
          padding: 0;
          overflow-y: auto;
          list-style: none;

          > li {
            padding: 0.5rem 1rem;
            font-size: var(--font-size);
            cursor: pointer;
  
            &:hover {
              background-color: var(--color-gray-lightest);
            }
          }
        }
      }
    }


    > *[type="submit"] {
      flex: none;
      margin-top: 1rem;
    }
  }
}
