#search {
  display: flex;
  flex-direction: column;
  max-width: 24rem;

  > .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;

    > p {
      font-size: var(--font-size-lg);
      margin: 0;
    }

    > a {
      color: var(--color-primary);
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }

  > form {
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;

    > input {
      padding: 0.5rem 1rem;
      font-size: var(--font-size-md);
      border: 1px solid var(--color-gray);
      border-radius: 0.5rem;
      outline: none;
    }

    > *[type="submit"] {
      flex: none;
      margin-top: 1rem;
    }
  }
}
