.wrap {
  display: flex;
  flex-direction: column;
  max-width: 24rem;

  > .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;

    > p {
      font-size: var(--font-size-lg);
      margin: 0;
    }

    > a {
      color: var(--color-primary);
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }

  > form {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-inline: 1rem;

    > .search {
      position: relative;
      width: fit-content;

      > input {
        padding: 0.5rem 1rem;
        font-size: var(--font-size-md);
        border: 1px solid var(--color-gray);
        border-radius: 0.5rem;
        outline: none;
      }
  
      > ul.typeahead {
        position: absolute;
        top: calc(100% + 0.25rem);
        left: -1px;
        z-index: 10;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: var(--font-size);
        background: white;
        border: 1px solid var(--color-gray);
        border-radius: 0.5rem;
        list-style: none;
        overflow: hidden;

        > li {
          padding: 0.5rem 1rem;
          cursor: pointer;

          &:hover {
            background-color: var(--color-gray-lightest);
          }
        }
      }
    }


    > *[type="submit"] {
      flex: none;
      margin-top: 1rem;
    }
  }
}
