.wrap {
  display: flex;
  flex-direction: column;
  max-width: 24rem;

  .intro,
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > h4, h5 {
      font-weight: 500;
      margin: 0;
    }

    h4 {
      font-size: var(--font-size-lg);
    }

    h5 {
      font-size: var(--font-size-md);
    }

    > a.clear {
      color: var(--color-primary);
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      &.hidden {
        display: none;
      }

      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }

  .intro {
    margin-bottom: 1rem;
  }

  .header {
    margin-bottom: 0.25rem;
  }

  > .topics {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1px solid var(--color-gray-lightest);

    > .topic {
      > select {
        width: 100%;
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--color-gray);
        border-radius: 0.5rem;
        font-size: var(--font-size-md);
        cursor: pointer;
      }

      > .options {
        > .option {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          * {
            cursor: pointer;
          }
        }
      }

      > .range {
        display: flex;
        gap: 0.5rem;

        .min, .max {
          display: flex;
          flex-direction: column;
          font-size: var(--font-size-sm);

          > input {
            padding: 0.5rem 1rem;
            margin-bottom: 0.5rem;
            border: 1px solid var(--color-gray);
            border-radius: 0.5rem;
            font-size: var(--font-size-md);
            cursor: pointer;
          }
        }
      }
    }
  }
}
