.wrap {
  display: flex;
  flex-direction: column;
  max-width: 24rem;

  > .intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 1rem;

    > p {
      font-size: var(--font-size-lg);
      margin: 0;
    }

    > a {
      color: var(--color-primary);
      transition: color 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--color-primary-dark);
      }
    }
  }

  > .topics {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border-top: 1px solid var(--color-gray-lightest);

    > .topic {
      > .header {
        margin: 0.5rem 0;
        font-size: var(--font-size-lg);
      }

      > select {
        width: 100%;
        padding: 0.5rem 1rem;
        border: 1px solid var(--color-gray);
        border-radius: 0.5rem;
        font-size: var(--font-size-md);
        cursor: pointer;
      }

      > .options {
        > .option {
          display: flex;
          align-items: center;
          gap: 0.25rem;

          * {
            cursor: pointer;
          }
        }
      }
    }
  }
}
