.wrap {
  .range {
    display: flex;
    gap: 0.5rem;
  
    .min, .max {
      display: flex;
      flex-direction: column;
      font-size: var(--font-size-sm);
  
      > input {
        padding: 0.5rem 1rem;
        margin-bottom: 0.5rem;
        border: 1px solid var(--color-gray);
        border-radius: 0.5rem;
        font-size: var(--font-size-md);
        cursor: pointer;
      }
    }
  }
}
