.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 16rem;

  .image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    ::slotted(img) {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  > .content {
    position: relative;
    padding: var(--space-lg) var(--space-xl) var(--space-xl);

    @media screen and (min-width: 768px) {
      width: 70%;
    }

    > .text {
      margin-bottom: var(--space);

      > ::slotted(p) {
        @media (min-width: 768px) {
          font-size: var(--font-size-lg);
        }
      }

      > ::slotted(h2) {
        font-family: var(--font-heading);
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-semibold);
      }
    }

    ::slotted(a),
    ::slotted(p),
    ::slotted(h2),
    ::slotted(span),
    ::slotted(button) {
      margin-top: 0 !important;
    }
  }

  .overlay {
    position: absolute;
    left:0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: var(--color-overlay);
    mix-blend-mode: multiply;
  }
}
